<div th:fragment="header" class="navbar" style="height: 45px;">
    <div class="navbar-inner" style="min-height: 45px;height: 45px;">
        <div class="navbar-container">
            <!-- Navbar Barnd -->
            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand">
                    <small>
                        <img src="" alt=""/>
                    </small>
                </a>
            </div>
            <!-- /Navbar Barnd -->
            <!-- Sidebar Collapse -->
            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="collapse-icon fa fa-bars"></i>
            </div>
            <!-- /Sidebar Collapse -->
            <!-- Account Area and Settings -->
            <div class="navbar-header pull-right">
                <div class="navbar-account">
                    <ul class="account-area" style="cursor: auto;">
                        <li class="open">
                            <div class="login-area" style="cursor: default;">
                                <section>
                                    <span class="profile">
                                        <span class="propfile" style="float: left;">
                                            <b style="color:black" th:text="${session.currentUser.trueName}"></b>
                                        </span>
                                        <input type="hidden" id="currentUserRoleId"
                                               th:value="${session.currentUser.role} ne null? ${session.currentUser.role.id} : '0'"/>
                                    </span>
                                </section>
                                <section>
                                    <span class="profile" style="color:white;margin-left: 10px;float: left;">欢迎登录组队系统</span>
                                </section>
                            </div>
                            <!--Login Area Dropdown-->
                            <!--/Login Area Dropdown-->
                        </li>
                    </ul>
                    <!-- /Account Area -->
                    <!--Note: notice that setting div must start right after account area list.
                    no space must be between these elements-->
                    <!-- Settings -->
                    <div class="setting">
                        <a id="btn-setting" title="Setting" href="#">
                            <i class="icon glyphicon glyphicon-cog"></i>
                        </a>
                    </div>
                    <form method="post" action="logout" id="logoutform" style="display: none">
                        <input type="hidden" th:name="${_csrf.headerName}" th:value="${_csrf.token}"/>`
                    </form>
                    <span class="setting-container" style="width:200px">
                        <label>
                            <span class="profile">
                                <a href="javascript:;" onclick="showPwdInfo()" style="text-decoration:none">
                                    <span style="margin-left: 10px;text-align:inherit;color:white;">
                                        <i class="fa fa-key fa-flip-horizontal"></i>
                                        &nbsp;&nbsp;修改密码
                                    </span>
                                </a>
                            </span>
                        </label>
                        <label>
                            <span class="profile">
                                <a href="javascript:void(0)" onclick="jQuery('#logoutform').submit()">
                                    <span style="margin-left: 10px;float: right;text-align: inherit;color:white">
                                        <i class="fa fa-sign-out"></i>
                                        &nbsp;&nbsp;注销
                                    </span>
                                </a>
                            </span>
                        </label>
                    </span>
                </div>
            </div>
            <!-- /Account Area and Settings -->
        </div>
    </div>
</div>