<head th:fragment="head(title)">
    <title th:text="${title}">组队系统</title>
    <meta charset="utf-8"/>
    <meta name="keywords" th:content="${title}" content="组队系统"/>
    <meta name="description" th:content="${title}" content="组队系统"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="_csrf" th:content="${_csrf.token}" th:if="${_csrf} ne null"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}" th:if="${_csrf} ne null"/>
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

    <!--Basic Styles-->
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/assets/css/bootstrap.min.css')}" rel="stylesheet"/>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/assets/css/font-awesome.min.css')}" rel="stylesheet"/>

    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />

    <!--Beyond styles-->
    <link id="beyond-link" th:href="${@mvcResourceUrlProvider.getForLookupPath('/assets/css/beyond.min.css')}"
          rel="stylesheet"/>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/assets/css/demo.min.css')}" rel="stylesheet"/>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/assets/css/animate.min.css')}" rel="stylesheet"/>

    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/assets/css/skins/orange.min.css')}" rel="stylesheet"/>

    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/assets/css/jquery-ui.css')}" rel="stylesheet"/>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/assets/css/ui.jqgrid.css')}" rel="stylesheet"/>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/assets/css/dataTables.bootstrap.css')}" rel="stylesheet"/>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/assets/js/skins.min.js')}"></script>
</head>