<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<!--Head-->
<head th:include="common_css::head(title='登录')"/>
<!--Head Ends-->
<!--Body-->
<body th:inline="text">
<div class="login-container animated fadeInDown">
    <div class="loginbox bg-white form-control" id="loginbox" style="height: 420px !important;">
        <div class="loginbox-title">登录</div>
        <form id="login-form" method="post" action="login">
            <p th:if="${message}" class="success">${message}</p>
            <p th:if="${param.logout}" class="warning">已注销</p>
            <p th:if="${param.error}" class="danger" >账号或密码有误或该账号已停用，请重试</p>

            <div class="loginbox-textbox form-group">
                <input type="text" class="form-control" placeholder="邮箱地址" name="username"/>
            </div>
            <div class="loginbox-textbox form-group">
                <input type="password" class="form-control" placeholder="密码" name="password"/>
            </div>
            <div class="loginbox-textbox form-group">
                <div class="row">
                    <div class="col-xs-8">
                        <input type="text" class="form-control" placeholder="验证码" name="verifyCode"/>
                    </div>
                    <div class="col-xs-4">
                        <img width="70" height="42" onclick="refreshCode();"
                             id="code_img" th:src="@{/kaptcha-image}"
                             style="cursor:pointer;float:left;">
                    </div>
                </div>
            </div>
            <div class="loginbox-forgot">
                <a href="">忘记密码？</a>
            </div>
            <div class="loginbox-submit">
                <input type="button" id="loginBtn" class="btn btn-primary btn-block" value="登录">
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </form>
        <div class="loginbox-signup">
            <a href="/register">通过邮箱注册</a>
        </div>
    </div>
    <div class="logobox " style="text-align: -webkit-center;padding-top: 15px;">
        KUON GUGU, BEST GUGU
    </div>
</div>

<footer th:replace="common_js"/>
<script type="text/javascript" th:inline="javascript">

    jQuery(function($){

        $('#login-form').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                username: {
                    message: 'The username is not valid',
                    validators: {
                        notEmpty: {
                            message: '用户名不能为空'
                        },
                        remote : {
                            url : 'api/check_username',
                            message : "该用户名不存在",
                            type : 'get'
                        }
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        }
                    }
                },
                verifyCode : {
                    validators: {
                        notEmpty: {
                            message: '验证码不能为空'
                        },
                        remote : {
                            url : '/kaptcha-image/verify',
                            message : "验证码错误",
                            type : 'get'
                        }
                    }
                }
            }
        });
        $("#loginBtn").click(function () {
            var bootstrapValidator = $('#login-form').data('bootstrapValidator');
            bootstrapValidator.validate();
            if(bootstrapValidator.isValid()){
                //表单提交的方法、比如ajax提交
                document.getElementById("login-form").submit();
            }
        });
    });


    //刷新验证码
    function refreshCode() {
        jQuery("#code_img").attr("src", "/kaptcha-image?_=" + new Date().getTime());
    }
</script>

</body>
<!--Body Ends-->
</html>
