<!DOCTYPE html>
<html lang="en">
<head th:include="common_css::head(title='用户管理')"/>
<body>

<!-- Navbar -->
<div th:include="common_header :: header" class="navbar">

</div>
<!-- /Navbar -->

<div class="main-container container-fluid">
    <div class="page-container">
        <div th:include="common_leftslider :: leftslider" class="page-sidebar" id="sidebar"></div>

        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#">组队系统</a>
                    </li>
                    <li class="active">用户管理</li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->

            <!-- Page Body -->
            <div class="page-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="widget" style="margin-top:-10px;">
                            <div class="widget-body  bordered-warning">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <input type="hidden" id="username" name="username" placeholder="用户名"/>
                                    </div>

                                    <div class="form-group">
                                        <input type="hidden" id="role" name="role" placeholder="角色">
                                    </div>
                                </div>
                                <br/>
                                <div class="form-inline">
                                    <div class="form-group">
                                        <input type="hidden" id="deleteStatus" name="deleteStatus" placeholder="状态">
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" id="clan" name="clan" placeholder="军团">
                                    </div>
                                    <button class="btn btn-info" type="button" onclick="searchJqGrid()"><i
                                            class="fa fa-search"></i>搜索
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="widget" style="margin-top:-25px;">
                            <div class="widget-body no-padding" id="gridWidget">
                                <table class="table table-bordered table-hover table-striped" id="searchable">
                                </table>
                                <div id="grid-pager"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->
    </div>
    <!-- /Page Container -->
    <!-- Main Container -->

</div>
</div>
<footer th:replace="common_js"/>
<script th:src="${@mvcResourceUrlProvider.getForLookupPath('/assets/js/backsystem_commonleft.js')}" id="navigation" charset="utf-8" data="user-manage"></script>
<script>
    var deleteStatusList = [{id: 0, text: "已启用"}, {id: 1, text: "已停用"}];
    var grid_selector = "#searchable";
    var pager_selector = "#grid-pager";
    var gameId = jQuery("#gameId").val();

    jQuery(function ($) {
        $("#role").select2({
            width: 100,
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/api/roles/name",
                dataType: "json",
                data: function (data, page) {
                    return {
                        rows: 10,
                        page: page,
                        name: encodeURI(data)
                    };
                },
                results: function (data, pageNo) {
                    var more = (pageNo * 10) < data.records;
                    if (data.rows.length > 0) {
                        return {results: data.rows, more: more}
                    } else {
                        return {results: data, more: more}
                    }
                }
            },
            formatSelection: formatSelection,
            formatResult: formatResult
        });

        $("#deleteStatus").select2({
            width: 100,
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            data: deleteStatusList,
            formatSelection: formatSelection,
            formatResult: formatResult
        });

        $("#clan").select2({
            width: 200,
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/api/users/clan",
                dataType: "json",
                data: function (data, page) {
                    return {
                        rows: 10,
                        page: page,
                        clan: encodeURI(data)
                    };
                },
                results: function (data, pageNo) {
                    var more = (pageNo * 10) < data.records;
                    if (data.rows.length > 0) {
                        return {results: data.rows, more: more}
                    } else {
                        return {results: data, more: more}
                    }
                }
            },
            formatSelection: formatSelection,
            formatResult: formatResult
        });

        $("#username").select2({
            width: 200,
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/api/users/name",
                dataType: "json",
                data: function (data, page) {
                    return {
                        rows: 10,
                        page: page,
                        username: encodeURI(data)
                    };
                },
                results: function (data, pageNo) {
                    var more = (pageNo * 10) < data.records;
                    if (data.rows.length > 0) {
                        return {results: data.rows, more: more}
                    } else {
                        return {results: data, more: more}
                    }
                }
            },
            formatSelection: formatSelection,
            formatResult: formatResult
        });

        jQuery(grid_selector).jqGrid({
            url: "/api/users",
            mtype: "GET",
            datatype: "json",
            postData: {},
            regional: 'cn',
            rownumbers: true,
            autoScroll: true,
            altRows: true,
            viewrecords: true,
            height: "100%",
            sortname: "addTime",
            sortorder: "desc",
            colNames: ['ID', '用户名', '游戏ID', '角色', "军团", '创建时间', '更新时间', '剩余次数', '状态', '操作'],
            colModel: [
                {name: 'id', index: 'id', sortable: false, editable: false, search: false, hidden: true},
                {name: 'username', index: 'username', width: 200, editable: false, search: false, sortable: false},
                {name: 'gameId', index: 'gameId', width: 200, editable: false, search: false, sortable: false},
                {name: 'role', index: 'role', width: 150, editable: false, search: false, sortable: true},
                {name: 'clan', index: 'clan', width: 150, editable: false, search: false, sortable: true},
                {name: 'addTime', index: 'addTime', width: 200, editable: false, search: false, sortable: true},
                {name: 'updateTime', index: 'updateTime', width: 200, editable: false, search: false, sortable: true},
                {name: 'createOperLeft', index: 'createOperLeft', width: 100, editable: false, search: false, sortable: true},
                {name: 'deleteStatus', index: 'deleteStatus', width: 100, editable: false, search: false, sortable: true},
                {name: 'action', index: 'action', width: 200, editable: false, search: false, sortable: false}
            ],
            rowNum: 10,
            rowList: [10, 50, 100],
            pager: pager_selector,
            autowidth: false,
            shrinkToFit: false,
            width: jQuery("#gridWidget").width(),
            gridComplete: function () {
                var ids = jQuery(grid_selector).jqGrid("getDataIDs");
                for (var i = 0; i < ids.length; i++) {
                    var isDelete = jQuery(grid_selector).getCell(ids[i], "deleteStatus");
                    var id = jQuery(grid_selector).getCell(ids[i], "id");
                    var modify = "<div onclick='showUserInfo(" + ids[i] + ")' class='btn btn-xs btn-warning' style='margin-right:12px'><i class='fa fa-edit'></i>编辑</div>"
                    if (isDelete === "已启用") {
                        modify += "<div onclick='updateDeleteStatus(" + ids[i] + ", true)' class='btn btn-xs btn-danger' style='margin-right:12px'><i class='fa fa-lock'></i>停用</div>";
                    }
                    if (isDelete === "已停用") {
                        jQuery(grid_selector).find("tr[id=" + id + "]").css("color", "#dbdbdb");
                        jQuery(grid_selector).jqGrid('setRowData', ids[i], {action: modify});
                        modify += "<div onclick='updateDeleteStatus(" + ids[i] + ", false)' class='btn btn-xs btn-success' style='margin-right:12px'><i class='fa fa-unlock'></i>启用</div>";
                    }
                    jQuery(grid_selector).jqGrid('setRowData', ids[i], {action: modify});
                }
            }
        }).jqGrid('navGrid', pager_selector,
            {
                refresh: true,
                edit: false,
                add: false,
                del: false,
                search: false,
                view: false
            });
        $(".page-body").resize(function () {
            $(grid_selector).setGridWidth($("#gridWidget").width())
                .closest(".ui-jqgrid-bdiv").css({'overflow-x': 'auto'});
        });
    });

    function searchJqGrid() {
        var clan = jQuery("#clan").val();
        var username = jQuery("#username").val();
        var deleteStatus = jQuery("#deleteStatus").val();
        var role = jQuery("#role").val();
        jQuery(grid_selector).jqGrid('setGridParam', {
            datatype: 'json',
            postData: {
                'clan': encodeURI(clan),
                'username': username,
                'deleteStatus': deleteStatus,
                'role': role
            }, //发送数据
            page: 1
        }).trigger("reloadGrid"); //重新载入
    }

    function showUserInfo(id) {
        jQuery.ajax({
            type: "GET",
            url: "users/segment_user_info",
            data: {userId: id},
            dataType: "html",
            success: function (data) {
                jQuery("#segment_modal").html(data);
                jQuery("#commonModal").modal("show");
            }
        });
    }

    function updateDeleteStatus(id, status) {
        commonAjax(null, "/api/users/deleteStatus", "POST", {userId:id, status:status}, function (data) {
            if (data.status === "ok") {
                Notify('操作成功', 'top-right', '5000', 'success', 'fa-check', true);
                jQuery(grid_selector).trigger("reloadGrid");
            } else {
                Notify('操作失败', 'top-right', '5000', 'danger', 'fa-times', true);
            }
        });
    }
</script>

</body>
</html>