<div class="modal-header">
    <style>
        input.validate_hidden { position:absolute; height:0; width:0; border:0; }
    </style>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">查看队伍信息</h4>
</div>

<div class="modal-body" id="mseriesmodal_content" th:inline="text">
    <p class="danger" th:if="${flag}" th:text="${info}"></p>
    <th:block th:if="!${flag}">
        <form method="post" class="form-horizontal" id="teamForm" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">车队名称</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="teamName"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">车队编码</label>
                <div class="col-sm-7">
                    <input type="hidden" name="code" th:value="${code}"/>
                    <div class="form-control" th:text="${code}"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">车队类型</label>
                <div class="col-sm-7">
                    <input type="text" id="teamType" name="type" class="validate_hidden"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">队长游戏ID</label>
                <div class="col-sm-7">
                    <div class="form-control" th:text="${session.currentUser.gameId}"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">截止时间</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" id="limitTime" name="limitTime"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">剩余人数</label>
                <div class="col-sm-7">
                    <select name="posLeft">
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>
        </form>
    </th:block>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <button type="button" class="btn btn-default " data-dismiss="modal">返回</button>
                <button type="button" class="btn btn-info" id="createBtn" th:if="!${flag}">创建</button>
            </div>
        </div>
    </div>
</div>
<script th:if="!${flag}">
    var sourceList = [{id: 0, text: "效率"}, {id: 1, text: "娱乐"}, {id: 2, text: "爬线"}, {id: 3, text: "涂油"}];
    var grid_selector = "#searchable";
    var pager_selector = "#grid-pager";
    jQuery(function ($) {
        $("#teamType").select2({
            width: $(this).parent().width(),
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            data: sourceList,
            formatSelection: formatSelection,
            formatResult: formatResult
        }).on("change", function () {
            $('#teamForm').data('bootstrapValidator').updateStatus('type', 'NOT_VALIDATED').validateField('type');
        });

        $("#limitTime").datetimepicker({
            minView: 'hour',
            format: 'yyyy-mm-dd hh:ii',
            autoclose: true,
            todayBtn: true
        });

        $('#teamForm').bootstrapValidator({
            message: 'This value is not valid',
            excluded : [':disabled'],
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh',
            },
            fields: {
                teamName: {
                    validators: {
                        stringLength: {//检测长度
                            min: 3,
                            max: 15,
                            message: '长度必须在3-15之间'
                        },
                        notEmpty: {
                            message: '队伍名不能为空'
                        }
                    }
                },
                type: {
                    trigger:"change",
                    validators: {
                        notEmpty: {
                            message: '队伍类型不能为空'
                        }
                    }
                },
                limitTime : {
                    validators :{
                        format : 'YYYY-MM-DD HH:mm',
                        message : '日期格式不正确'
                    }
                }
            }
        });
        
        $("#createBtn").click(function () {
            var bootstrapValidator = $('#teamForm').data('bootstrapValidator');
            bootstrapValidator.validate();
            if (bootstrapValidator.isValid()) {
                //表单提交的方法、比如ajax提交
                var data = $("#teamForm").serialize();
                commonAjax(false, "/api/teams", "POST", data, function (resp) {
                    if (resp.status === "ok") {
                        $("#commonModal").modal("hide");
                        Notify('创建成功', 'top-right', '5000', 'success', 'fa-check', true);
                        jQuery("#searchable").trigger("reloadGrid");
                    } else {
                        Notify(resp.msg, 'top-right', '5000', 'danger', 'fa-times', true);
                    }
                });
            }
        })
    })
</script>